{% set keyFigures = attributes.keyFigures %}

<section class="box white faq">
    <h2>Offene Fragen klären und dann Ferienwohnung anmelden</h2>
    <p class="intro">
        Hier erhalten Sie von uns alle Informationen, die für eine erfolgreiche Anmeldung Ihrer Ferienwohnung oder Ihrem Ferienhaus wichtig sind.
    </p>
    <ul class="content-icon-list question">
        <li>
            <h3>Warum ist Traum-Ferienwohnungen der richtige Partner?</h3>
            <p>Wir sind das am <strong>schnellsten wachsende Portal</strong> für Ferienimmobilien in Deutschland. Mehr als {{ keyFigures.users }} Besucher werden in {{ keyFigures.year }} über {{ keyFigures.inquiries }} Buchungsanfragen durch unsere Seite www.traum-ferienwohnungen.de stellen. Das sorgt für eine hohe Zufriedenheit bei unseren über {{ keyFigures.hosts }} Vermietern. Kurz gesagt: <strong>Wir bringen Ihnen Buchungsanfragen!</strong></p>
        </li>
        <li>
            <h3>Erscheint mein Inserat auch direkt in den Suchmaschinen?</h3>
            <p><strong>Ja.</strong> www.traum-ferienwohnungen.de gehört mit seinen Top-Platzierungen, insbesondere bei Google, zu den zehn reichweitenstärksten Tourismusseiten in ganz Deutschland (Quelle: SISTRIX). Wir sorgen dafür, dass Ihr Inserat auch direkt in den Suchmaschinen erscheint und von Urlaubern gefunden wird.</p>
        </li>
        <li>
            <h3>Muss ich bei Traum-Ferienwohnungen Provision zahlen?</h3>
            <p><strong>Nein.</strong> Sie zahlen lediglich eine einmalige Jahresgebühr pro Inserat. Alle Mieteinnahmen bleiben bei Ihnen und sind somit 100% Gewinn für Sie!</p>
        </li>
        <li>
            <h3>Wird mein Inserat automatisch verlängert?</h3>
            <p><strong>Nein.</strong> Ihr Inserat läuft nach dem von Ihnen gebuchten Zeitraum aus und wird nicht automatisch verlängert. Bei Zahlungen per Lastschrift, Kreditkarte oder Paypal bieten wir Ihnen einen automatischen Abbuchungsservice für die nächste Inseratsverlängerung an. Dadurch können Sie gewährleisten, dass Ihr Inserat ununterbrochen online ist und Sie keine Buchungsanfragen verpassen.</p>
        </li>
        <li>
            <h3>Wie erfolgreich wird mein Inserat sein?</h3>
            <p>
                <img src="{{ base_url }}/images/geld_zurueck.png" width="160" height="129" alt="Geld-zurück-Garantie"/>
                Je mehr Buchungsanfragen Ihr Inserat erhält, desto mehr Wochen im Jahr können Sie erfolgreich vermieten. Wie viele Buchungsanfragen ein Inserat bekommt ist von vielen Faktoren abhängig wie z.B. die Ausstattung, der Preis oder die Region, in der sich die Ferienwohnung befindet. 
            </p>
            <p>Davon unabhängig garantieren wir Ihnen für Ihr Erstinserat mindestens 22 Buchungsanfragen im Jahr – sonst erhalten Sie Ihr Geld zurück!</p>
        </li>
        <li>
            <h3>Wie kann ich mich anmelden?</h3>
            <p>Sie können sich unverbindlich anmelden, in dem Sie auf den untenstehenden “Kostenlos registrieren” Button klicken. In nur wenigen Schritten haben Sie sich registriert und können danach unseren Vermieterbereich testen und Ihr Inserat erstellen.</p>
        </li>
    </ul>
    <a class="tf-button large green pull-right" href="http://www.traum-ferienwohnungen.de/registrieren/schritt1.htm">Kostenlos registrieren</a>
</section>